In [1]:
import numpy as np
import pandas as pd


**Load the countries.csv directly via URL import into your panda data frame!**

In [2]:
fullcsv = pd.read_csv("https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv")

**Display some basic information as rows, columns and some basic statistical info.**

In [3]:
print(fullcsv)
print("-----")
print(fullcsv.info())

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL
-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   People    5 non-null      int64
 2   Area      5 non-null      int64
 3   BIP       5 non-null      int64
 4   Currency  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes
None


**Show the last 4 rows of the data frame.**

In [4]:
print(fullcsv.tail(4))

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

**Show all the row of countries who have the EURO.**

In [5]:
print(fullcsv[fullcsv['Currency']=="EUR"])

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

**Show only name and Currency in a new data frame.**

In [6]:
smallcsv = pd.DataFrame(fullcsv, columns = ['Name', 'Currency'])
print(smallcsv)

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

**Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)**

In [7]:
print(fullcsv[fullcsv['BIP']>2000])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

**Select all countries where with inhabitants between 50 and 150 Mio**

In [8]:
print(fullcsv[(fullcsv['People']>50000000) & (fullcsv['People']<150000000)])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

**Change BIP to Bip**

In [9]:
fullcsv.rename(columns={'BIP':'Bip'}, inplace=True)
print(fullcsv)

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

**Calculate the Bip sum**

In [10]:
print(fullcsv['Bip'].sum())

13581

**Calculate the average people of all countries**

In [11]:
print(fullcsv['People'].sum() / len(fullcsv))

102786293.6

**Sort by name alphabetically**

In [12]:
csvsorted = fullcsv.sort_values('Name')
print(csvsorted)

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

**Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!**

In [13]:
sizecsv = fullcsv
sizecsv["Area"] = np.where(sizecsv["Area"] > 1000000, "BIG", "SMALL")
print(sizecsv)

       Name     People   Area   Bip Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL